<div class="main-content">
    <div class="container-fluid">
        <div class="row" *ngFor="let proyecto of proyectos">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <p class="card-category">Nombre del {{proyecto.nombre}}</p>
                        <h3 class="card-title">Fecha Fin: {{proyecto.fechaFinal}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons" data-toggle="modal" data-target="#exampleModal">Alerta</i>
                            <label data-toggle="modal" data-target="#exampleModal">Información </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row" *ngFor="let proyecto of proyectos">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <p class="card-category">Nombre del {{proyecto.nombre}}</p>
                        <h3 class="card-title">Fecha Fin: {{proyecto.fechaFinal}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons" data-toggle="modal" data-target="#exampleModal">Alerta</i>
                            <label data-toggle="modal" data-target="#exampleModal">Información </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div>
                    <div class="card" *ngFor="let proyecto of proyectos">
                        <div class="card-header card-header bg-dark">
                            <h4 class="card-title text-light">Nombre del Proyecto: {{proyecto.nombre}}
                            </h4>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>Nombre</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Fin</th>
                                    <th>Recursos</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{proyecto.nombre}}</td>
                                        <td>{{proyecto.fechaComienzo}}</td>
                                        <td>{{proyecto.fechaFinal}}</td>
                                        <td>{{proyecto.presupuestoProyecto}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>